.frame {
	display: inline-block;
	height: 600px;
	vertical-align: top;
}

#textbox {
	width: 800px;
	height: 600px;
	overflow-y: scroll;
}

#codeBox {
	width: 200px;
	background-color: lightgrey;
}

#text {
	width: 800px;
	height: 600px;
}

#codes {
	width: 200px;
	height: 400px;
}

button {
	width: 140px;
	display: block;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 8px;
}