* {
	font-family: arial;
}

body {
	margin: 0;
	padding: 0;
}

.frame {
	display: inline-block;
	height: 80%;
	vertical-align: top;
}

#textBox {
	display: inline-block;
	width: 80%;
	height: 90%;
	overflow-y: auto;
	background-color: lightgoldenrodyellow;
}

#codeBox {
	display: inline-block;
	width: 20%;
	height: 90%;
	overflow-y: auto;
	background-color: mintcream;
}

#buttons {
	position: fixed;
	margin: 0;
	height: 10%;
	width: 90%;
	background-color: grey;
	bottom: 0;
	left: 0;
}

.options {
	display: inline-block;
	width: 150px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border: 4px solid paleturquoise;
	margin-top: 8px;
	margin-left: 4px;
	background-color: black;
	color: white;
	vertical-align: middle;
}

.options:hover {
	border: 4px solid navy;
	cursor: pointer;
}

#whichFile {
	height: 20px;
	width: 260px;
	padding: 20px;
	vertical-align: middle;
}

#title {
	position: fixed;
	height: 10%;
	width: 10%;
	right: 0;
	bottom: 0;
	background-color: black;
	color: white;
}

#basiCode {
	display: block;
	margin: 4px;
	margin-right: 12px;
	font-size: 24px;
	text-align: right;
}

#version {
	display: block;
	margin: 4px;
	margin-right: 12px;
	text-align: right;
}

#name {
	display: block;
	margin: 4px;
	margin-right: 12px;
	text-align: right;
}

#text {
	width: 800px;
	height: 600px;
}

#codes {
	width: 330px;
	height: 400px;
}

button.code {
	display: inline-block;
	margin: 2px;
	font-size: 1.4em;
}

span {
	cursor: pointer;
}

.active {
	background-color: yellow;
}